<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Example form: {{ as_type }}</title>
</head>
<body>
<main>
  <h1>Example form: {{ as_type }}</h1>


  <form action="" method="POST" novalidate>
    {% csrf_token %}

    {{ form.non_field_errors }}

    <button type="Submit">Submit</button>

    <fieldset>
      <legend>Experimental fields</legend>
      <div>
        <label for="date-experiment">HTML5 date</label>
        <input type="date" name="date-experiment" id="date-experiment">
      </div>
      <div>
        <label for="datetime-local-experiment">HTML5 datetime-local</label>
        <input type="datetime-local" name="datetime-local-experiment" id="datetime-local-experiment">
      </div>
    </fieldset>

    {% if as_type == "div" %}
    {{ form.as_div }}
    {% elif as_type == "p" %}
    {{ form.as_p }}
    {% elif as_type == "ul" %}
      <ul>
        {{ form.as_ul }}
      </ul>
    {% elif as_type == "table" %}
      <table>
        <tbody>
          {{ form.as_table }}
        </tbody>
      </table>
    {% endif %}
  </form>
</main>
</body>
</html>
